html {
  background-color: #98e6d8;
  opacity: 0.8;
  background-image: linear-gradient(#fff1f1 1px, transparent 1px),
    linear-gradient(to right, #fff1f1 1px, #98e6d8 1px);
  background-size: 20px 20px;
  color: #4d0ecb;
  margin: 0 auto;
  width: 100%;
  font-family: "Play", sans-serif;
}
body {
  margin: 0;
}
hr {
  color: #98e6d8;
  display: block;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 72px;
}
h3 {
  font-size: 60px;
}
h4 {
  font-size: 28px;
  padding-left: 20px;
}
p {
  font-size: 24px;
  padding: 0 20px;
}
footer {
  background-color: #fff1f1;
  margin-bottom: 0;
  padding: 1px 30px 20px 30px;
}
footer > h4 {
  padding-left: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff1f1;
  align-items: center;
  padding: 20px 0;
}
.menuBar {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.menuBar div {
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #4d0ecb;
}
.menuList {
  display: flex;
}

.menuLink {
  padding-right: 8px;
  color: #4d0ecb;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s;
}
.menuLink:hover {
  color: #fff1f1;
  background-color: #4d0ecb;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gridItem {
  background-color: white;
  color: #4d0ecb;
  padding: 5px 10px;
  width: 70%;
  border: solid 4px #000;
  box-shadow: 15px 15px 0 -4px #4d0ecb, 15px 15px #000;
  justify-self: center;
}
.homeLink {
  text-decoration: none;
  color: #4d0ecb;
}
.homeLink:hover {
  color: #fff1f1;
  background-color: #4d0ecb;
}

@keyframes move-eye-skew {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg)
      scale(0.95);
  }
  25%,
  44% {
    transform: none;
  }
  50%,
  60% {
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg)
      scaleX(0.95);
  }
  66%,
  100% {
    transform: none;
  }
}

.ball {
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: relative;
  background: radial-gradient(
    circle at 50% 40%,
    #fcfcfc,
    #efeff1 66%,
    #9b5050 100%
  );
}
.ball::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8) 14%,
    rgba(255, 255, 255, 0) 24%
  );
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}

.irisRules {
  background: radial-gradient(
    circle at 50% 50%,
    #208ab4 0%,
    #6fbfff 30%,
    #4381b2 100%
  );
}

.irisHooks {
  background: radial-gradient(
    circle at 50% 50%,
    #20b4a7 0%,
    #98e6d8 30%,
    #43b294 100%
  );
}

.irisCustom {
  background: radial-gradient(
    circle at 50% 50%,
    #6120b4 0%,
    #b36fff 30%,
    #4d0ecb 100%
  );
}
.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 100%;

  -webkit-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  -moz-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  -ms-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  -o-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  -webkit-animation: move-eye-skew 5s ease-out infinite;
  -moz-animation: move-eye-skew 5s ease-out infinite;
  -o-animation: move-eye-skew 5s ease-out infinite;
  -ms-animation: move-eye-skew 5s ease-out infinite;
  animation: move-eye-skew 5s ease-out infinite;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 100%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 100%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-150px);
  -moz-transform: rotateX(90deg) translateZ(-150px);
  -ms-transform: rotateX(90deg) translateZ(-150px);
  -o-transform: rotateX(90deg) translateZ(-150px);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@media (min-width: 501px) and (max-width: 960px) {
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
  .gridContainer {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 30px;
  }
  .gridItem {
    width: 80%;
  }

  .stage {
    width: 200px;
    height: 200px;
  }

  .ball::after {
    top: 22%;
    left: 20%;
  }

  @keyframes move-eye-skew {
    0% {
      transform: none;
    }
    20% {
      transform: translateX(-40px) translateY(20px) skewX(15deg) skewY(-10deg)
        scale(0.95);
    }
    25%,
    44% {
      transform: none;
    }
    50%,
    60% {
      transform: translateX(28px) translateY(-48px) skewX(5deg) skewY(2deg)
        scaleX(0.95);
    }
    66%,
    100% {
      transform: none;
    }
  }
}

@media (max-width: 500px) {
  html {
    width: 100%;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    padding-left: 10px;
  }
  p {
    font-size: 16px;
    padding-left: 10px;
  }
  .menuBar {
    display: flex;
  }

  .nav {
    flex-direction: column;
    align-items: start;
  }
  .menuList {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: center;
  }
  .menuList.open {
    display: flex;
    background-color: #fff1f1;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 30px;
  }
  .gridItem {
    width: 80%;
  }

  .stage {
    width: 100px;
    height: 100px;
  }

  .ball::after {
    top: 68%;
    left: 60%;
  }

  @keyframes move-eye-skew {
    0% {
      transform: none;
    }
    20% {
      transform: translateX(-26px) translateY(8px) skewX(15deg) skewY(-10deg)
        scale(0.95);
    }
    25%,
    44% {
      transform: none;
    }
    50%,
    60% {
      transform: translateX(24px) translateY(-16px) skewX(5deg) skewY(2deg)
        scaleX(0.95);
    }
    66%,
    100% {
      transform: none;
    }
  }
}
