:root {
  --primaryColor: #4d0ecb;
  --accentColor: #98e6d8;
  --white: #fff1f1;
  --borderColor: #000;
  --danger: #d82c00;
}

html {
  width: 100%;
  margin: 0 auto;
  font-family: "Play", sans-serif;
  color: var(--primaryColor);
  background-color: var(--accentColor);
  background-image: linear-gradient(var(--white) 1px, transparent 1px),
    linear-gradient(to right, var(--white) 1px, var(--accentColor) 1px);
  background-size: 20px 20px;
  opacity: 0.8;
}
body {
  margin: 0;
}
hr {
  display: block;
  color: var(--accentColor);
}
h1 {
  padding-left: 5px;
  font-size: 36px;
}
h2 {
  font-size: 72px;
}
h3 {
  font-size: 60px;
}
h4 {
  padding-left: 20px;
  font-size: 28px;
}
p {
  padding: 0 20px;
  font-size: 24px;
}
footer {
  margin-bottom: 0;
  padding: 1px 30px 20px 30px;
  background-color: var(--white);
}
footer > h4 {
  padding-left: 20px;
}

footer > div {
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 501px) and (max-width: 960px) {
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
  .gridContainer {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    padding: 0;
  }
}

@media (max-width: 500px) {
  html {
    width: 100%;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    padding-left: 5px;
    font-size: 28px;
  }
  h3 {
    padding-left: 5px;
    font-size: 22px;
  }
  h4 {
    padding-left: 10px;
    font-size: 20px;
  }
  p {
    padding-left: 10px;
    font-size: 16px;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    padding: 0;
  }
}
