.searchWrapper {
  margin-top: 30px;
  text-align: center;
}
.search {
  width: 80%;
  background-color: var(--primaryColor);
  padding: 10px;
  border: solid 4px var(--borderColor);
  box-shadow: 15px 15px 0 -4px var(--white), 15px 15px var(--borderColor);
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}
.search::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  opacity: 0.5;
}
.search::-webkit-search-cancel-button {
  filter: invert(100%) sepia(100%);
}
.noHooks {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 500px) {
  .searchWrapper {
    margin-bottom: 30px;
  }
  .search {
    width: 88%;
  }
}
