.searchWrapper {
  margin-top: 30px;
  text-align: center;
}
.search {
  width: 80%;
  background-color: #4d0ecb;
  padding: 10px;
  border: solid 4px #000;
  box-shadow: 15px 15px 0 -4px #fff1f1, 15px 15px #000;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff1f1;
}
.search::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: #fff1f1;
  opacity: 0.5;
}
.search::-webkit-search-cancel-button {
  filter: invert(100%) sepia(100%);
}
.noHooks {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 500px) {
  .searchWrapper {
    margin-bottom: 30px;
  }
  .search {
    width: 88%;
  }
}
